ul li{
    list-style: none;
}


.module table th:nth-of-type(1){
    width: 40%;
}

.module table th{
    width: 10%;
}

.field-prezzo input{
    text-align: right;
    color: #000000;
    background-color: #ffffff;
}

.field-quantita input{
    text-align: right;
    color: #000000;
    background-color: #ffffff;
}

.field-totale_riga input{
    text-align: right;
    color: #000000;
    background-color: #ffffff;
}

#id_totale{
    text-align: right;
    color: #000000;
    background-color: #ffffff;
}


.dynamic-righe_fattura_acquisto input{
    width: 80%;
}
